:root{
    --cor-de-fundo:#1E1E1E;
    --verde: #6FFF67;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #0a1458;
    --texto-de-fundo: #5e6278;
}



body{
    background-color: rgb(27, 203, 209);
    color: #0849aa;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}
.botão{
    background-color: aqua;
    font-size: 20px;
    border-radius: 10px;
    color: #033e41;
    margin:10px;
    padding: 15px;
}  
.Conteúdoprincipal

